/* ====================================================================================================*/
/* General */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jet+Brains+Mono&display=swap');

body {
  margin: 0;
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}

/* ====================================================================================================*/
/* Tabs */
.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tab {
  cursor: pointer;
  padding: 10px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab.active {
  background-color: #aaa;
}

.tab img {
  width: 40px;
  height: 40px;
}

/* Tab Header */
.tab-header {
  background-color: #ddd;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.tab-header .header-content {
  display: flex;
  align-items: center;
}

.tab-header img {
  width: 40px;
  height: 40px;
}

[data-tab-header] {
  display: none;
}

.active[data-tab-header] {
  display: flex;
}

/* Tab Content */
[data-tab-content] {
  display: none;
  flex: 1;
}

.active[data-tab-content] {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.reset-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-left: auto;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.reset-button img {
  width: 20px;
  height: 20px;
}

/* ====================================================================================================*/
/* Players */
#hiders, #seekers {
  padding: 0;
  margin: 0;
  min-height: 150px;
}

#hiders ul, #seekers ul {
  padding: 0;
  margin: 0;
}

#hiders h2 img, #seekers h2 img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.player {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  margin: 5px 0;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.player-left, .player-right {
  display: flex;
  align-items: center;
}

#players-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.player-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.time {
  font-family: 'Jet Brains Mono', monospace;
}

.add-time-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 5px;
}

.add-time-button img {
  width: 100%;
  height: 100%;
}

/* ====================================================================================================*/
/* Questions */
#questions-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.question-category {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.question-category img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.question-cost {
  margin-left: auto;
  font-size: 14px;
  color: #666;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.questions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
}

.question-block {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.question-block img {
  width: 60px;
  height: 60px;
  margin-bottom: 0;
}

/* ====================================================================================================*/
/* Curses */
#curses-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.curse-category {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.curse-category img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.hand-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hand-section img {
  width: 20px;
  height: 20px; 
  margin-right: 10px;
}

.draw-curses-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
}

.draw-curses-button img {
  width: 100%;
  height: 100%;
}

.curses-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 10px;
}

.curse {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  background-color: #aaa;
}

.curse-name {
  margin-top: 10px;
  font-weight: bold;
  color: black;
  text-transform: uppercase; /* Make curse names uppercase */
}

/* ====================================================================================================*/
/* Pop-up */
.popup-common {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content p {
  text-align: center;
  margin: 5px 0;
}

.popup-content input {
  padding: 10px;
  text-align: center;
  margin: 5px 5px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Jet Brains Mono', monospace;
}

.popup-content .button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

.popup-content button {
  cursor: pointer;
  background-color: #aaa;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  flex: 1;
  width: 100px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.popup-content h2 {
  text-align: center;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* ====================================================================================================*/
/* Splash Screen */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#splash-screen img {
  width: 200px;
  height: auto;
}

#splash-screen h1 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

